* {
    --heuball-c: #e06e48;
}
.wuste-wrapper {
    opacity: 0;
}
.berge {
    --h: 50px;
    z-index: -10;
    position: absolute;
    transform-origin: bottom center;
    width: 250px;
    height: var(--h);
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    background: 
    linear-gradient(to top, #fff3 55%,  #2223 75%),
    linear-gradient(to right, #00901b 25%, #0deb87 50%, burlywood 50% 75%, orange) 0% 0px/200% 100% no-repeat;
    box-shadow: 0px 0px 7px green;
    transition: all 3s;
    &--1 {
      bottom: 0;
      left: 0; right: 0;
      margin: auto;
      --h: 50px;
    }
    &--2 {
      z-index: -11;
      bottom: 0;
      left: 0px;
      height: 35px;
      width: 150px; 
      opacity: 0.7;
    }
    &--3 {
      &.dry {
        z-index: -12;
      }
      bottom: 0;
      right: 0px;
      height: 35px;
      width: 120px; 
      opacity: 0.8;
    }
    &__rissen {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(-45deg, #3338 0px 1px, transparent 2px 20px );
      -webkit-mask: radial-gradient(circle at center, red 10px, transparent 20px) 0 0 / 50px,    
      repeating-linear-gradient(45deg, red 0px 5px, transparent 6px 20px);
    }
  }
  .berge.dry {
    background-position: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
  
  }

  .schadel {
    width: 100px;
    height: 70px;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 100px 100px 50% 50% / 100px 100px 50% 50%;
    box-shadow: 0px 0px 0px 2px #555;
    animation: dig 2.5s 1 ease-in-out;
    &--1 {
        bottom: 15px;
        right: 75px;
        transform: rotate(45deg) scale(0.5);
        transform-origin: bottom right;
    }
    &--2 {
        bottom: 5px;
        left: -40px;
        transform: rotate(-45deg) scale(0.7);
        transform-origin: center;
    }
    &--3 {
        bottom: 20px;
        left: 160px;
        transform: rotate(-150deg) scale(0.3);
        transform-origin: bottom left;
    }

}

.schadel::before {
    z-index: 3;
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    position: absolute;
    top: 88px;
    left: 45px;
    transform: translate(-50%);
    border-radius: 0 0 20px 20px  / 0 0 25px 25px ;
    background: #555;
    box-shadow: -10px 0px 0px 0px #555, 10px 0px 0px 0px #555, 20px 0px 0px 0px #555;
}

.schadel::after {
    z-index: 2;
    content: "";
    position: absolute;
    width: 60px;
    height: 30px;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0 0 20px 20px  / 0 0 25px 25px ;
    background: radial-gradient(10px 10px at center, whitesmoke 5px, transparent 6px) 50% 100%/10px 10px repeat-x, 
    linear-gradient(to top, whitesmoke, whitesmoke) 0 -7px/100% calc(100%) no-repeat;

    filter: drop-shadow(0px 3px 0px #2228);
}
.schadel-augen {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 24px;
    background-color: #555;
    border-radius: 25px;
    box-shadow: 40px 0px 0px #555;
}
.schadel-nase {
    z-index: 5;
    position: absolute;
    top: 79%;
    left: 43%;
    width: 8px;
    height: 20px;
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
    transform: rotate(15deg);
    background-color: #555; 
}
.schadel-nase::after {
    content: "";
    z-index: 5;
    position: absolute;
    top: -1px;
    left: 4px;
    width: 8px;
    height: 20px;
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
    transform: rotate(-30deg);
    background-color: #555; 
}

.knochen {
    position: absolute;
    width: 95px;
    height: 35px;
    border-radius: 10px;
    animation: dig 2s ease-in-out;
    background: 
    
    radial-gradient(14px at center, whitesmoke 11px, transparent 9px) 0px -7px/22px no-repeat,

    radial-gradient(14px at center, whitesmoke 11px, transparent 9px) 100% -7px/22px no-repeat,

    radial-gradient(14px at center, whitesmoke 11px, transparent 9px) 100% 8px/22px no-repeat,

    radial-gradient(14px at center, whitesmoke 11px, transparent 9px) 0px 8px/22px no-repeat,

    linear-gradient(whitesmoke, whitesmoke) 4px 50%/calc(100% - 7px) 20px no-repeat, 

    radial-gradient(4px 5px at left, transparent 4px, whitesmoke 5px) -2px 0 / 10px 100% no-repeat, 
    
    radial-gradient(4px 5px at right, transparent 4px, whitesmoke 5px) calc(100% + 2px) 0 / 10px 100% no-repeat;

    filter: drop-shadow(0px 1px 3px #555) ;

    &--1 {
        bottom: 22px;
        left: 35px;
        transform: rotate(-10deg) scale(0.4);
    }
    &--2 {
        bottom: -15px;
        left: 100px;
        transform: rotate(22deg) scale(0.8);
    }
    &--3 {
        bottom: -5px;
        right: -5px;
        transform: rotate(-45deg) scale(1.2);
    }
    &--4 {
        bottom: 22px;
        left: 155px;
        transform: rotate(-10deg) scale(0.4);
    }
}

.heuball {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: solid var(--heuball-c) 8px;
    clip-path: polygon(-150% 0%, 30% 0%, 30% 20px, 70% 20px, 70% 0%, 150% 0%, 150% 100%, -150% 100%);
    animation: jumping 1.5s infinite, rolling 5s linear infinite, rotating 2s linear infinite;
    &--2 {
        animation: jumping 3s infinite, rolling 7s linear infinite reverse, rotating--2 2s linear infinite reverse;
    }
}

.heuball__inner {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: solid var(--heuball-c) 8px;
    clip-path: polygon(-150% 0%, 30% 0%, 30% 20px, 70% 20px, 70% 0%, 150% 0%, 150% 100%, -150% 100%);
    &--1 {
        top: 20px;
        left: 50%;
        width: 200px;
        height: 225px;
        transform: translate(-50%);

    }
    &--2 {
        top: 0px;
        left: 50%;
        width: 80px;
        height: 250px;
        transform: translate(-50%);
        clip-path: polygon(0% 0%, 8px 0%, 80% 80px, 100% 50px, 100% 100%, 0% 100%);
    }
}
.heuball__stock {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 8px;
    height: 200px;
    background-color: var(--heuball-c);
}
.heuball__dorne {
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 20px;
    background-color: var(--heuball-c);
    border-radius: 50px 0 50px 0 / 50px 0 50px 0;
    &--1 {
        top: 30px;
        left: 0px;
        transform: rotate(-90deg);
    }
    &--2 {
        top: 100px;
        left: -20px;
        transform: rotate(-90deg);
    }
    &--3 {
        top: 40px;
        right: -5px;
        transform: rotate(30deg);
    }
    &--4 {
        top: 140px;
        right: -15px;
        transform: rotate(30deg);
    }
    &--5 {
        top: 140px;
        left: 30px;
        transform: rotate(30deg);
    }
    &--6 {
        top: 60px;
        left: 70px;
        transform: rotate(-90deg);
    }
    &--7 {
        top: 120px;
        left: 85px;
        transform: rotate(30deg);
    }
    &--8 {
        top: 80px;
        left: 155px;
        transform: rotate(30deg);
    }
    &--9 {
        top: 150px;
        left: 135px;
        transform: rotate(-90deg);
    }
    &--10 {
        top: 70px;
        left: 15px;
        transform: rotate(-90deg);
    }
    &--11 {
        top: 80px;
        left: calc(50% - 20px);
        transform: rotate(-90deg);
    }
    &--12 {
        top: 80%;
        left: 50%;
        transform: rotate(30deg);
    }

}

@keyframes jumping {
    0% {
        top: 200px;
        animation-timing-function: ease-in;
    }
    25% {
        top: 250px;
        animation-timing-function: ease-out;
    }
    50% {
        top: 215px;
        animation-timing-function: ease-in;
    }
    75% {
        top: 250px;
        animation-timing-function: ease-out;
    }
    100% {
        top: 200px;
        animation-timing-function: ease-in;
    }
}

@keyframes rolling {
    0% {
        left: -50%;
    }
    100% {
        left: 150%;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg) scale(0.25);
    }
    50% {
        transform: rotate(180deg) scale(0.35);
    }
    100% {
        transform: rotate(360deg) scale(0.25);
    }
}
@keyframes rotating--2 {
    0% {
        transform: rotate(0deg) scale(0.15);
    }
    50% {
        transform: rotate(180deg) scale(0.20);
    }
    100% {
        transform: rotate(360deg) scale(0.15);
    }
}
@keyframes dig {
    0% {
        transform: scale(0.2);
    }
}


