.flower-page {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.flower-container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 500px;
    height: 65vh;
    border: solid 2px black;
    overflow: hidden;
}

// Hintergrund  ----------------------------------------------
.hintergrund {
  position: absolute;
  --bg-c: rgba(222, 241, 248, 0.961);
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  z-index: -12;
  filter: blur(1px);

  &__tag {
    box-shadow: inset -20px 30px 100px 0px rgb(255, 235, 18, 0.7);
    background:
    radial-gradient(circle at top right, rgba(253, 241, 11, 0.5) 75px,  transparent 225px), 
    radial-gradient(ellipse at top, transparent 50%, var(--bg-c)),
    radial-gradient(
      ellipse at bottom,
      var(--bg-c),
      rgba(0, 127, 159, 0.105)
    ),
    repeating-linear-gradient(220deg, var(--bg-c) 0px, var(--bg-c) 17px, transparent 19px, transparent 22px),
    repeating-linear-gradient(189deg, var(--bg-c) 0px, var(--bg-c) 17px, transparent 19px, transparent 22px),
    repeating-linear-gradient(90deg, var(--bg-c) 0px, var(--bg-c) 17px, transparent 19px, transparent 22px),
  
    linear-gradient(90deg, rgb(235, 129, 0), rgb(240, 240, 240));
  }
 
}
// Blume ----------------------------------------------
.blume {
  z-index: 9999;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  &.verwelkte {
    animation: none;
  }
  &--1 {
    animation: beweg-blume--1 5s linear infinite;
  }
  &--2 {
    z-index: 2;
    left: 45%;
    transform: rotate(-20deg);
    animation: beweg-blume--2 5s ease-in-out infinite;
    .blume__blatt {
      --c-primary: #2babfa;
      --c-secondary: #0967d2;
    }
    .blume__stengel {
      height: 150px;

    }
  }
  &--3 {
    z-index: 1;
    left: 55%;
    transform: rotate(20deg);
    animation: beweg-blume--3 5s ease-in-out infinite;
    .blume__blatt {
      --c-primary: #fae92b;
      --c-secondary: #d25d09;
    }
    .blume__stengel {
      height: 120px;
    }
  }
  &__stengel {
    position: relative;

    &__top {
      position: absolute;
      top: -19px;
      width: 40px;
      height: 50px ;
      max-height: 20px;
      border-left: rgb(33, 136, 10) solid 5.5px;
      border-bottom: rgb(104, 145, 95) solid 0px;
      animation: wachsen-ans 1s 1.3s backwards;
      transform-origin: bottom center;
      transition: all 2s;
    }

    &__bottom {
      width: 5.5px;
      height: 160px;
      background: 
      linear-gradient(to left, #0002, transparent, #fff2), 
      linear-gradient(to top, transparent 0%, rgba(135, 223, 115, 1) 50% 60%, rgba(35, 150, 9, 1));
      box-shadow: inset 3px 0px 2px #0002;
      animation: wachsen-ans 1s 1s backwards;
      transform-origin: bottom center;
      transition: all 4s;
    }
      
    &__blatt {
      position: absolute;
      width: 25px;
      height: 25px;
      opacity: 0.93;
      transform-origin: bottom left;
      background: 
      linear-gradient(to top right, #fff2 20%, transparent 40%),
      linear-gradient(-35deg, transparent 49%, #2221 50%, #2221 52%, transparent 53%) 0px 2px/15px 25px no-repeat,
      radial-gradient(circle at bottom left, rgba(35, 150, 9, 1), rgba(135,223,115,1));
      border-radius: 50px 5px 50px 5px / 25px 5px 50px 5px;
      box-shadow: inset 0px 0px 5px rgba(35, 150, 9, 1), 0px 0px 5px #2221;
      transition: all 2s;
      &--1 {
        top: 0;
        left: 0px ;
        transform: scale(0.8) rotateY(180deg);
        animation: stengel__blatt--2 1s 3s 1 backwards;
      }
      &--2 {
        top: 5px;
        left: 4px;
        transform: scale(0.8);
        animation: stengel__blatt 1s 2.8s 1 backwards;
      }
      &--3 {
        top: 30px;
        left: 0px ;
        transform: scale(1) rotateY(180deg);
        animation: stengel__blatt--2 1s 2.5s 1 backwards;
      }
      &--4 {
        top: 35px;
        left: 4.5px;
        transform: scale(1);
        animation: stengel__blatt 1s 2s 1 backwards;
      }
      &--5 {
        top: 70px;
        left: 0px ;
        transform: scale(1.2) rotateY(180deg);
        animation: stengel__blatt--2 1s 1.5s 1 backwards;
      }
      &--6 {
        top: 75px;
        left: 4px;
        transform: scale(1.2);
        animation: stengel__blatt 1s 1s 1 backwards;
      }
    }
    &.verwelkte {
      .blume__stengel__top {
        max-height: 50px;
        top: -55px;
        left: -17px;
        transform: rotate(103deg);
        border-left: rgb(104, 145, 95) solid 5.5px;
        border-bottom-width: 4.5px;
        border-bottom-width: 4.5px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: all 2s 2s, border-radius 4s 0s, transform 2s 0s ease-in;
      }
      .blume__stengel__bottom {
        width: 4.5px;
        height: 100px;
        background: 
        linear-gradient(to left, #0002, transparent, #fff2), 
        linear-gradient(to top, transparent 0%, rgb(74, 111, 66) 50% 60%, rgb(63, 136, 47));
        clip-path: polygon(0% 10px, 100% 0%, 100% 100%, 0% 100%);
      }
      .blume__stengel__blatt {
        height: 20px;
        width: 20px;
        box-shadow: inset 100px 10px 0px 10px #2227;
        &--1 {
          top: 100px;
          left: -30px ;
          transform: scale(0.8) rotateY(180deg) rotateZ(30deg) rotateX(59deg);
        }
        &--2 {
          top: 5px;
          left: 4px;
          transform: scale(0.8) rotate(80deg);
          animation: stengel__blatt 1s 2.8s 1 backwards;
        }
        &--3 {
          top: 110px;
          left: 20px ;
          transform: scale(1) rotateY(180deg) rotateX(70deg);
          animation: stengel__blatt--2 1s 2.5s 1 backwards;
        }
        &--4 {
          top: 50px;
          left: 500px;
          transform: scale(1) rotateX(300deg);
          animation: stengel__blatt 1s 2s 1 backwards;
        }
        &--5 {
          top: 0px;
          left: 500px ;
          transform: scale(1.2) rotateY(180deg) rotateX(290deg) rotateZ(45deg);
          animation: stengel__blatt--2 1s 1.5s 1 backwards;
        }
        &--6 {
          top: -50px;
          left: 500px;
          transform: scale(1.2) rotateY(120deg) rotateX(290deg) rotateZ(45deg);
          animation: stengel__blatt 1s 1s 1 backwards;
        }
      }

    }
  }

  &__blatter {
      position: absolute;
      top: -17px;
      animation: wachsen-ans 1s 3s backwards;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, -100%);
        width: 8vmin;
        height: 8vmin;
        background-color: red;
        filter: blur(100px);
      }
  }
  &__blatter.verwelkte &__blatt {
    box-shadow: inset 100px 100px 0px 100px #9f6f65;
    bottom: -25px;
    left: 50px;
    height: 35px;
    width: 28px;
    transition: all 4s;
    &--1 {
      transform: translate(-20%, -6%) rotateY(-45deg) rotateX(45deg) rotateZ(150deg);
    }
    &--2 {
      transform: translate(-15px, 100px) scaleX(0.9) rotateY(30deg) rotateX(150deg) rotateZ(-45deg);
    }
    &--3 {
      transform: translate(-80%, -3%) rotateY(45deg) rotateX(45deg) rotateZ(-150deg);
    }
    &--4 {
      opacity: 0.9;
      transform: translate(-50%, -10px) rotateX(0deg) rotateZ(180deg);      }
  }
  &__blatter.verwelkte .weiss-kreis {
    top: 15px;
    left: 40px;
    width: 20px;
    height: 10px;
    background-color: rgb(243, 213, 154);
    border-radius: 50%;
    transition: all 4s;
  }
  &__blatt {
      --c-primary: #fa4d2b;
      --c-secondary: #c91d06;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 45px;
      width: 40px;
      background: linear-gradient(to top, var(--c-secondary), var(--c-primary)), #fa4d2b;
      border-radius: 51% 49% 47% 53% / 44% 45% 55% 69%;
      transform-origin: bottom center;
      opacity: 0.95;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 10px #2222;
      transition: all 2s;

      &--1 {
          transform: translate(-20%, -6%) rotateY(-45deg) rotateX(45deg);
      }
      &--2 {
          z-index: 0;
          transform: translate(-50%, -10%) scaleX(1.1);
      }
      &--3 {
          transform: translate(-80%, -3%) rotateY(45deg) rotateX(45deg);
      }
      &--4 {
          z-index: 2;
          opacity: 0.5;
          transform: translate(-50%, 0%) rotateX(80deg);
      }
  }
  
  .weiss-kreis {
      z-index: 1;
      position: absolute;
      top: -10px;
      left: -18px;
      width: 40px;
      height: 10px;
      background-color: rgb(252, 195, 81);
      border-radius: 50%;
      transition: all 2s;
      &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50%;
          height: 50%;
          border-radius: 50%;
          background-color: rgb(255, 171, 81);
          background-image: 
            repeating-linear-gradient(
              45deg,
              rgba(0, 0, 0, 0.05) 0px,
              rgba(0, 0, 0, 0.05) 1px,
              transparent 1px,
              transparent 12px
            ),

            repeating-linear-gradient(
              135deg,
              rgba(0, 0, 0, 0.03) 0px,
              rgba(0, 0, 0, 0.03) 1px,
              transparent 1px,
              transparent 12px
            ),

            repeating-linear-gradient(
              112.5deg,
              rgba(0, 0, 0, 0.05) 0px,
              rgba(0, 0, 0, 0.05) 1px,
              transparent 1px,
              transparent 12px
            ),

            repeating-linear-gradient(
              22.5deg,
              rgba(0, 0, 0, 0.05) 0px,
              rgba(0, 0, 0, 0.05) 1px,
              transparent 1px,
              transparent 12px
            ),


            repeating-linear-gradient(
              67.5deg,
              rgba(0, 0, 0, 0.03) 0px,
              rgba(0, 0, 0, 0.03) 1px,
              transparent 1px,
              transparent 12px
            ) 
            linear-gradient(90deg, rgb(255, 235, 18), rgb(255, 206, 0));
      }
  }
  &__licht {
    position: absolute;
    bottom: 0px;
    width: 5px;
    height: 5px;
    background-color: rgb(246, 255, 0);
    border-radius: 50%;
    animation: licht-ans 2.8s linear infinite backwards;
    &:nth-child(odd) {
      background-color: rgb(255, 136, 0);
    }
    &--1 {
      animation-delay: 1s;
      left: -10px;
    }
    &--2 {
      animation-delay: 2.2s;
      left: 5px;
    }
    &--3 {
      animation-delay: 1s;
      left: -5px;
    }
    &--4 {
      animation-delay: 2.2s;
      left: 10px;
    }
    &--5 {
      animation-delay: 1.5s;
      left: -6px;
    }
    &--6 {
      animation-delay: 3s;
      left: 6px;
    }
    &--7 {
      animation-delay: 1.5s;
      left: -8px;
    }
    &--8 {
      animation-delay: 3s;
      left: 8px;
    }
  }
}
// Zweigen  ----------------------------------------------
.zweigen-wrapper {
  height: 100%;
  width: 100%;
  .wachsen-ans {
    position: absolute;
    &__1 {
      bottom:-5%;
      left: 45%;
    }
    &__2 {
      bottom: 15%;
      left: 55%;
    }
    &__3 {
      bottom: 10%;
      left: 40%;
    }
    &__4 {
      bottom: -5%;
      left: 50%;
    }
  }
}
.zweigen {
  --w: 15px;
  --h: 100px;
  --c: #159faa;
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  
  &__top {
    width: calc(var(--w) + 15px);
    height: var(--h);
    max-width: calc(var(--w) + 15px);
    max-height: var(--h);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 0;
    border-right: 5px solid var(--c);
    transform-origin: bottom right;
    transform: translate(-20.5px, 5px);
    transition: all 3s;
    &.witt {
      max-width: 30px;
      max-height: 40px;
      border-bottom-right-radius: 50%;
      transform: 
      translate(-25px, -5px) 
      rotate(-90deg);
    }
  }
  &__bottom {
    width: var(--w);
    height: var(--h);
    max-width: var(--w);
    max-height: var(--h);
    transform-origin: bottom center;
    background-image: linear-gradient(to top, transparent 30%, var(--c));
    clip-path: polygon(35% 0, 65% 1%, 100% 100%, 0% 100%);
    transition: all 3s;
    &.witt {
      max-width: 8px;
      max-height: 60px;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;    }
  }
  
  &__1 {
    bottom:-5%;
    left: 45%;
    transform: scale(0.5, 0.7) rotate(-5deg);
    animation: zweigen 3s infinite;
  }
  &__2 {
    bottom: 15%;
    left: 55%;
    transform: scale(0.6, 0.8) rotateY(180deg) rotate(5deg);
    animation: zweigen-2 3s infinite;
    animation-delay: 1.3s;

  }
  &__3 {
    bottom: 10%;
    left: 40%;
    transform: scale(1, 0.8) rotate(-5deg);
    animation: zweigen 3s infinite;
    animation-delay: 1.5s;
  }
  &__4 {
    bottom: -5%;
    left: 50%;
    transform: scale(0.6, 0.8) rotateY(180deg) rotate(5deg);
    animation: zweigen-2 2.5s infinite;
    animation-delay: 0.2s;
  }
}

// Zweigen-Blatter  ----------------------------------------------
.zweigen__blatter-wrapper {
  height: 100%;
  width: 100%;
  .wachsen-ans {
    position: absolute;
    &--1 {
      left: 20%;
      bottom: 5%;
    }
    &--2 {
      right: 30%;
      bottom: 15%;
    }
    &--3 {
      left: 40%;
      bottom: 0%;
    }
  }
}
.zweigen__blatter {
  --c: #159faa;
  --line-w: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: bottom center;
  &--1 {
    left: 20%;
    bottom: 5%;
    transform: rotate(10deg) ;
    animation: beweg-blatter--1 5s linear infinite;
  }

  &--2 {
    right: 30%;
    bottom: 15%;
    transform: rotate(-10deg) rotateY(180deg);
    animation: beweg-blatter--2 5s linear infinite;

  }

  
  &--3 {
    left: 40%;
    bottom: 0%;
    transform: rotate(-15deg);
    animation: beweg-blatter--3 5s 1.2s linear infinite;

  }

  &__top {
    height: 45px;
    width: 35px;
    border-radius: 0% 50% 0% 0%;
    border-right: 5px solid rgba(95, 204, 51, 0.8);
    transform: translate(0px, 5px);
  }
  &__bottom {
    height: 60px;
    width: 5px;
    background: linear-gradient(to right, #ccc9 10%, transparent 30% 60%, #3333 80%), linear-gradient(to top, transparent 20%, rgba(95, 204, 51, 0.8) 40%);
    clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
  }


  &__blatt {
    --size: 12px;
    position: absolute;
    top: 100%;
    width: calc(var(--size) * 2.1);
    height: var(--size);
    background: linear-gradient(to top,  transparent 10%, rgba(54, 137, 22, 0.8));
    border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;

    $speed: 2s;

    &--1 {
      top: 20px;
      left: 33px;
      transform: rotate(-8deg);
      animation: wachsen-blatter--1 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--1 {
        0% {
          transform-origin: bottom left;
          transform: rotate(-20deg) scale(0);
        }
      }
    }
    &--2 {
      top: 20px;
      left: 6px;
      transform: rotate(8deg);
      animation: wachsen-blatter--2 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--2 {
        0% {
          transform-origin: bottom right;
          transform: rotate(20deg) scale(0);
        }
      }
    }
    &--3 {
      top: 32px;
      left: 35px;
      transform: rotate(-8deg) scale(1.3);
      animation: wachsen-blatter--3 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--3 {
        0% {
          transform-origin: bottom left;
          transform: rotate(-20deg) scale(0);
        }
      }
    }
    &--4 {
      top: 32px;
      left: 2px;
      transform: rotate(8deg) scale(1.3);
      animation: wachsen-blatter--4 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--4 {
        0% {
          transform-origin: bottom right;
          transform: rotate(20deg) scale(0);
        }
      }
    }
    &--5 {
      top: 48px;
      left: 40px;
      transform: rotate(-8deg) scale(1.6);
      animation: wachsen-blatter--5 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--5 {
        0% {
          transform-origin: bottom left;
          transform: rotate(-20deg) scale(0);
        }
      }
    }
    &--6 {
      top: 48px;
      left: -2px;
      transform: rotate(8deg) scale(1.6);
      animation: wachsen-blatter--6 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--6 {
        0% {
          transform-origin: bottom right;
          transform: rotate(20deg) scale(0);
        }
      }
    }
    &--7 {
      top: 65px;
      left: 45px;
      transform: rotate(-8deg) scale(1.9);
      animation: wachsen-blatter--7 $speed 1.2s linear backwards;

      @keyframes wachsen-blatter--7 {
        0% {
          transform-origin: bottom left;
          transform: rotate(-20deg) scale(0);
        }
      }
    }
    &--8 {
      top: 65px;
      left: -5px;
      transform: rotate(8deg) scale(1.9);
      animation: wachsen-blatter--8 $speed 1.2s linear backwards;
      @keyframes wachsen-blatter--8 {
        0% {
          transform-origin: bottom right;
          transform: rotate(20deg) scale(0);
        }
      }
    }

  }
}


.zweig {
  --size: 2px;
  --c: #15aa67;
  position: absolute;
  bottom: 5%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: rotate(-30deg);
  animation: beweg-zweig 5s linear infinite;
  z-index: -1;
  &__line {
    width: var(--size);
    height:65px;
    background: linear-gradient(
      to top,
      transparent,
      #079097 95%,
      transparent 100%
    );
    animation: wachsen-ans 1s 3s ease-in backwards;
  }
  &__blatt__wrapper {
    position: absolute;
    top: 0; left: 0;
    transform: rotate(5deg);
    transform-origin: bottom left;
    &:nth-child(even) {
      left: 1px;
    }
    &:nth-child(odd) {
      left: -1px;
    }
    &--1 {
      top: -12px;
      transform: scale(0.7);
      animation:zweig__blatt-ans 1s 6.5s ease-in backwards ;
    }
    &--2 {
      top: -12px ;
      transform: rotateY(180deg) rotate(5deg) scale(0.7) ;
      animation: zweig__blatt-left-ans 1s 6.2s ease-in backwards;
    }
    &--3 {
      top: -3px;
      transform: scale(0.9);
      animation: zweig__blatt-ans 1s 5.8s ease-in backwards;
    }
    &--4 {
      top: -3px;
      transform: rotateY(180deg) rotate(5deg) scale(0.9) ;
      animation: zweig__blatt-left-ans 1s 5.5s ease-in backwards;
    }
    &--5 {
      top: 10px;
      animation: zweig__blatt-ans 1s 5.2s ease-in backwards;
    }
    &--6 {
      top: 10px;
      transform: rotateY(180deg) rotate(5deg) ;
      animation: zweig__blatt-left-ans 1s 4.8s ease-in backwards;
    }
    &--7 {
      top: 20px;
      transform: scale(1.2) rotate(10deg);
      animation: zweig__blatt-ans 1s 4.5s ease-in backwards;
    }
    &--8 {
      top: 20px;
      transform: rotateY(180deg) rotate(10deg) scale(1.2) ;
      animation: zweig__blatt-left-ans-2 1s 4.2s ease-in backwards;
    }
    @keyframes zweig__blatt-ans {
      0% {
        transform: scale(0.1);
      }      
    }
    @keyframes zweig__blatt-left-ans {
      0% {
        transform: rotateY(180deg) scale(0.1);
      }
    }
    @keyframes zweig__blatt-left-ans-2 {
      0% {
        transform: rotateY(180deg) scale(0.1) rotate(10deg);
      }
  
    }

  }
  &__blatt {
    width: 20px;
    height: 20px;
    border-radius: 20px 0 0 0px / 20px 0px 0 0;
    box-shadow: inset 0 2px 1vmin hsla(184, 97%, 58%, 0.2);
    background: linear-gradient(
      to bottom left,
      transparent,
      var(--c)
    ),
    linear-gradient(
      to bottom right,
      var(--c) 50%,
      transparent 50%
    );
    -webkit-mask-image: linear-gradient(
      to bottom right,
      #159faa 50%,
      transparent 50%,
      transparent
    );
    mask-image: linear-gradient(
      to bottom right,
      red 50%,
      transparent 50%
    );

  }
}

.zweig-2-wrapper {
  height: 80px;
  width: 30px;
  position: absolute;
  left: 60%;
  bottom: 10px;
  transform-origin: bottom left;
}
.zweig-2 {
  transform: rotate(10deg);
  animation: beweg-zweig-2 5s ease-in infinite;
  &__stock {
    width: 30px;
    height: 80px;
    border-left: solid #15aa67 2px;
    border-radius: 50% 0% 0% 0%;
    -webkit-mask-image: linear-gradient(to top, 
    transparent 20%, #15aa67 50%);
  }
  &__blatt {
    position: absolute;
    width: 20px;
    height: 15px;
    border-radius: 0 30px 20% 0 / 0 15px 0px 0;
    background: linear-gradient(to top right, transparent 50%,  #15aa67 50%);
    box-shadow: inset 0px 0px 10px rgba(135, 223, 115, 0.7);
    -webkit-mask-image: linear-gradient(
      to top right, transparent 50%,  #15aa67 50%);
    transform-origin: top right;
    &:nth-child(even) {
      transform: rotateY(180deg) rotate(-30deg);
      // animation: zweig-2__blatt-ans-2 1.5s ease-in 4.2s backwards;
    }
    &:nth-child(odd) {
      transform: rotate(-10deg);
      // animation: zweig-2__blatt-ans 1.5s ease-in 4.2s backwards;
    }
    @keyframes zweig-2__blatt-ans {
      0% {
        transform: scale(0.09);
      }
    }
    @keyframes zweig-2__blatt-ans-2 {
      0% {
        transform: rotateY(180deg) rotate(-30deg) scale(0.09);
      }
    }
    &--1 {
      left: 3px;
      top: 6px;
    }
    &--2 {
      top: 0px;
      left: -30px;
    }
    &--3 {
      top: 20px;
    }
    &--4 {
      top: 15px;
      left: -32px;
    }
    &--5 {
      top: 34px;
      left: 0px;
    }
    &--6 {
      top: 30px;
      left: -32px;
    }
    &--7 {
      top: 50px;
      left: 0px;
    }
    &--8 {
      top: 45px;
      left: -32px;
    }
  }
}


// Spriessen  ----------------------------------------------

.lange_spriess {
  position: absolute;
  bottom: 15%;
  left: 25%;
  transform: rotate(-10deg);
  animation: wachsen 3s ease-in 1s ;
  transform-origin: center;
  &--2 {
    bottom: 0;
    left: 35%;
    transform: scale(0.5) rotate(10deg);
  }
  &--3 {
    bottom: 5%;
    left: 65%;
    transform: scale(0.7) rotate(7deg);
  }
  &--4 {
    bottom: 20%;
    right: 30%;
    left: auto;
    transform: rotate(10deg);
  }
  &--5 {
    bottom: 0;
    left: 55%;
    transform: scale(0.4) rotate(10deg);
  }
  &--6 {
    bottom: 10%;
    left: 40%;
    transform: scale(0.8) rotate(5deg);
  }
  &--7 {
    bottom: 9%;
    left: 60%;
  }
  .spriess {
    --w: 40px;
    --h: 100px;
    position: absolute;
    bottom: 0;
    width: var(--w);
    height: var(--h);
    border-top-left-radius: 50%;
    border-left: solid 4px green;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, #333 );
    transform-origin: bottom center;
    &--0 {
      left: 5px;
      animation: spriess-1 3s ease-in infinite;
    }
    &--1 {
      --w: 50px;
      --h: 60px;
      left: 15px;
      animation: spriess-1 4s ease-in infinite;
    }
    &--2 {
      --w: 70px;
      right: 1.5px;
      bottom: 5px;
      transform: rotateY(180deg);
      animation: spriess-2 3s ease-in infinite;

    }
    &--3 {
      --w: 50px;
      --h: 80px;
      right: 10px;
      transform: rotate(-10deg) rotateY(180deg);
      animation: spriess-2 4s ease-in infinite;
    }
  }
}




// Animationen  ----------------------------------------------

@keyframes spriess-1 {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg) scale(1.3);
  }
}
@keyframes spriess-2 {
  0%,
  100% {
    transform: rotateY(180deg) rotate(-5deg) scale(1);
  }

  50% {
    transform: rotateY(180deg) rotate(5deg) scale(1.1);
  }
}
@keyframes spriess-3 {
  0%,
  100% {
    transform: rotateY(180deg) rotate(-10deg) scale(1);
  }

  50% {
    transform: rotateY(180deg) rotate(10deg) scale(1.1);
  }
}
.wachsen-ans {
  animation: wachsen-ans 3s ease-in 1 backwards;
}
@keyframes wachsen-ans {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
}

@keyframes zweigen {
  0%, 100% {
    transform: scale(0.5, 0.7) rotate(-5deg);
  }
  50% {
    transform: scale(0.5, 0.7) rotate(-20deg);
  }
}
@keyframes zweigen-2 {
  0%, 100% {
    transform: scale(0.6, 0.8) rotateY(180deg) rotate(5deg);
  }
  50% {
    transform: scale(0.6, 0.8) rotateY(180deg) rotate(-10deg);
  }
}

@keyframes beweg-blatter--1 {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
@keyframes beweg-blatter--2 {
  0%, 100% {
    transform: rotate(10deg) rotateY(180deg) scale(0.9);
  }
  50% {
    transform: rotate(0deg) rotateY(180deg);
  }
}

@keyframes beweg-blatter--3 {
  0%, 100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-10deg) scale(1.1);
  }
}

@keyframes beweg-zweig {
  0%, 100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-10deg) scale(1.1);
  }
}
@keyframes beweg-zweig-2 {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(17deg) scale(0.9);
  }
}

@keyframes stengel__blatt {
  0% {
    transform: scale(0.2);
  }
}

@keyframes stengel__blatt--2 {
  0% {
    transform: scale(0.2) rotateY(180deg);
  }
}


@keyframes beweg-blume--1 {

  0%, 50%, 100% {
    transform: rotate(0deg) scale(1);
  }
  35% {
    transform: rotate(-5deg) scale(0.98);
  }
  70% {
    transform: rotate(5deg) scale(0.98);
  }
}
@keyframes beweg-blume--2 {
  0%, 100% {
    transform: rotate(-20deg) scale(1);
  }
  50% {
    transform: rotate(-25deg);
  }
}
@keyframes beweg-blume--3 {
  0%, 100% {
    transform: rotate(20deg) scale(1);
  }
  50% {
    transform: rotate(25deg);
  }
}
@keyframes licht-ans {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  25% {
    opacity: 1;
    transform: translateY(-15px) translateX(-10px);
  }

  50% {
    opacity: 1;
    transform: translateY(-30px) translateX(10px);
    filter: blur(5px);
  }

  75% {
    transform: translateY(-60px) translateX(-10px);
    filter: blur(5px);
  }

  100% {
    transform: translateY(-120px);
    opacity: 0;
    filter: blur(1px);
  }

}