.meditation-message .message-content {
    background-color: #222;
    padding: 1rem 2rem;
    border: rgba(64, 224, 208, 0.37) solid 0.5rem;
}
.meditation-message span {
    border-bottom: palevioletred solid 0.25rem;
}

.meditation-page .col {
    margin-top: 5rem;
}
