.poem-page {
    h2 {
        margin: 0 auto;
        margin-bottom: 3rem;
        text-align: center;
        color: turquoise;
    }
}

.quartet {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.4rem;
}
.quartet p {
    font-style: italic;
    font-weight: 600;
    margin: 0 auto;
}

.triplet {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.triplet p {
    font-style: italic;
    font-weight: 400;
    margin: 0 auto;
}