.poem-page {
    overflow-y: scroll;
}
.poem-page::-webkit-scrollbar, .poem-modal-container::-webkit-scrollbar {
    display: none;
}
.poem-page.non-scroll {
    overflow: hidden;
}
.poem-container {
    width: 100%;
    h2 {
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
        color: turquoise;
    }
}

.poem-btn {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 12px;
}

.quartet {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.4rem;
}
.quartet p {
    font-style: italic;
    font-weight: 600;
    margin: 0 auto;
    text-shadow: 0px 0px 10px #333;
}

.triplet {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.triplet p {
    font-style: italic;
    font-weight: 400;
    margin: 0 auto;
}


.poem-modal-container {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #1117;
    overflow-y: scroll;
}
.poem-modal-container.fade-out {
    animation: fadeOut 0.25s ease-in forwards !important;
    z-index: -1;
}
.poem-modal-container.fade-in {
    animation: fadeIn 0.25s ease-in forwards !important;
    z-index: 2;
}
.poem-modal {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 2rem 0.25rem;
    p {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
        font-size: 14px;
        line-height: 1.5;

    }
    .btn.btn-danger {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0.25rem 0.55rem;
        font-weight: bold;
    }
}
.poem-modal-btn {
    position: absolute;
    top: 10px; right: 50px;
    border: none;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    color: #eee;
    outline: groove 5px;
    outline-color: palevioletred;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.4s;
    &:hover, &:focus {
        outline-color: turquoise;
        background-color: palevioletred;
        color: #111;
    }
    &:active {
        outline-color: rgb(219, 174, 25);
        background-color: turquoise;
        color: #111;
    }
}

.blur {
    filter: blur(15px);
}

@media only screen and (min-width: 768px) {
    .poem-container {
        width: 80%;
        margin: 0 auto;
        height: 400px;
        p {
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
    .poem-btn {
        top: 10px;
        font-size: 18px;
    }
    .poem-modal-btn {
        top: 20px;
        right: 60px;
        bottom: auto;
        font-size: 16px;
    }
    .poem-modal-container .btn.btn-danger {
        position: absolute;
        top: 15px; right: 5px;
        padding: 0.25rem 0.85rem;
        font-size: 20px;
    }
    .poem-modal {
        width: 80%;
        padding-top: 4rem;
        p {
            font-size: 17px;
        }
    }

    .quartet {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2.4rem;
        margin-left: 20%;
    }
    .triplet {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

