
.robot-wrapper {
    --pri-c: #b44747;
    --sec-c: #454545;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    filter: drop-shadow(5px 2px 5px black);
}
.robot {
    position: relative;
    margin-top: 50px;
}
.robot-kopf {
    position: relative;
    width: 80px;
    height: 0px;
    border-top: solid var(--pri-c) 80px;
    border-right: solid transparent 10px;
    border-left: solid transparent 10px;
    border-bottom: none;
    border-radius: 10px 10px 25px 25px;
    filter: drop-shadow(2.5px 0px 0px var(--sec-c)) drop-shadow(-2px 0px 0px var(--sec-c)) drop-shadow(0px -2px 0px var(--sec-c));
    margin: 0 auto;
    margin-bottom: -2px;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        background-color: var(--pri-c);
        width: 25px;
        height: 8px;
        top: -87px;
        left: 17px;
    }
    &::after {
        content: "";
        position: absolute;
        background-color: #a03939;
        width: 10px;
        height: 8px;
        top: -95px;
        left: 24px;

    }
    &-panel {
        position: absolute;
        top: -60px;
        left: -11px;
        z-index: 4;
        border: solid #222 5px;
        width: 80px;
        height: 38px;
        border-radius: 10px 10px 25px 25px;
        box-shadow: inset 1px 2px 0px #fff9;
        background-color: #111;
        &::after, &::before {
            content: "";
            position: absolute;
            left: 5px;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: aquamarine;
            filter: blur(5px);
            opacity: 0.2;
        }
        &::after {
            left: auto; 
            right: 5px;
        }
    }
    &-augen {
        position: absolute;
        z-index: 5;
        top: -47px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: aqua;
        &--right {
            left: auto;
            right: 8px;
        }
    }
    &-ohr {
        position: absolute;
        top: -60px;
        left: -17px;
        background-color: var(--sec-c);
        width: 12px;
        height: 35px;
        border-radius: 20px;
        box-shadow: inset 1px -4px 0px 0px #eee8 ;
        &-antenne {
            position: absolute;
            top: -23px;
            z-index: -1;
            left: 0px;
            width: 7px;
            height: 25px;
            border-radius: 30px 0 0 0;
            background-color: aquamarine;
            box-shadow: inset -2px 0px 0px rgb(27, 75, 59);
        }
        &--right {
            left: auto;
            right: -17px;
            .robot-kopf-ohr-antenne {
                left: auto;
                right: 1px;
                border-radius:  0 30px 0 0;
                box-shadow: inset 2px 0px 0px rgb(27, 75, 59);
            }
        }
    }

}
.robot-korper {
    position: relative;
    width: 135px;
    height: 0px;
    border-top: solid var(--pri-c) 140px;
    border-right: solid transparent 15px;
    border-left: solid transparent 15px;
    border-bottom: none;
    border-radius: 25px 25px 50px 50px;
    filter: drop-shadow(2.5px 0px 0px var(--sec-c)) drop-shadow(-2px 0px 0px var(--sec-c)) drop-shadow(0px -2px 0px var(--sec-c));
    &::before {
        content: "";
        position: absolute;
        width: 75px;
        height: 15px;
        background-color: orange;
        top: -125px;
        left: 15px;
        border: solid var(--sec-c) 2px;
        box-shadow:  inset 1px 1px 0px 2px #2227;
    }
    &::after {
        content: "";
        position: absolute;
        width: 142px;
        height: 142px;
        background-color: transparent;
        border: none;
        border-left: solid rgba(34, 34, 34, 0.2666666667) 2px;
        border-bottom: solid rgba(34, 34, 34, 0.2666666667) 2px;
        top: -141px;
        left: -14px;
        box-shadow: inset 11px -7px 0px 2px rgba(34, 34, 34, 0.4666666667);
        border-radius: 0% 0% 0% 22px;
        transform: rotate(-1deg);
        clip-path: polygon(1% 0%, 140px 0%, 111px 134px, 98px 100%, 35px 100%, 10px 128px);
    }
    &-zeich {
        position: absolute;
        z-index: -1;
        top: -170px;
        width: 100%;
        height: 100px;
        border-right: solid var(--sec-c) 5px;
        border-bottom: solid var(--sec-c) 5px;
        transform: rotate(45deg);
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 107px;
            left: 135px;
            width: 50px;
            height: 50px;
            border-top: solid var(--sec-c) 5px;
            border-left: solid var(--sec-c) 5px;
            transform: translate(-50%) rotate(0deg);
        }
    }
    &-panel {
        position: absolute;
        top: -100px;
        left: 0; right: 0;
        margin: auto;
        width: 100px;
        height: 80px;
        border-radius: 70px;
        border: solid var(--sec-c) 5px;
        background-color: aquamarine;
        box-shadow: inset 5px 5px 0px #fff8;
    }
}
.robot-arme {
    position: absolute;
    top: -126px;
    left: -25px;
    &-schultern {
        position: absolute;
        z-index: 3;
        top: -18px;
        left: -2.5px;
        background-color: var(--sec-c);
        width: 30px;
        height: 45px;
        border-radius: 20px;
        transform: rotate(-5deg);
        box-shadow: inset 0.5px 2px 0px 0px #2227 ;
    }
    &-right {
        left: auto;
        right: -25px;
        transform: rotateY(180deg);
    }
    &--1 {
        position: absolute;
        z-index: 2;
        top: -5px;
        width: 30px;
        height: 40px;
        background-color: var(--pri-c);
        transform: rotate(30deg);
        transform-origin: top;
        animation: swing-arme-1 2s linear infinite alternate;
        box-shadow: inset 5px 0px 0px #2227;
        &::after {
            content: "";
            position: absolute;
            top: 70%;
            left: -5px;
            background-color: var(--sec-c);
            width: 38px;
            height: 32px;
            border-radius: 100%;
            box-shadow: inset 1.5px 0px 0px #2227;
        }
    }
    &--2 {
        position: absolute;
        z-index: 1;
        top: 36px;
        left: -24px;
        width: 26px;
        height: 40px;
        background-color: var(--pri-c);
        transform: rotate(45deg);
        animation: swing-arme-2 2s linear infinite alternate;
        transform-origin: top;
        box-shadow: inset 5px 0px 0px #2227;
        &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: var(--sec-c);
            top: 50px;
            border-radius: 5px;
            box-shadow: inset 0.5px 2px 0px #2227;

        }
    }

}

@keyframes swing-arme-1 {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(60deg);
    }
}
@keyframes swing-arme-2 {
    0% {
        top: 36px;
        transform: rotate(45deg);
    }
    100% {
        top: 28px;
        transform: rotate(160deg);
    }
}
.robot-zahnrad {
    position: relative;
    z-index:    1;
    top: 12px;
    left: 0; right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: translate(-50%);
    background-color: var(--sec-c);
    animation: spin 5s ease-in-out infinite;

    &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--pri-c);
    box-shadow: inset 0.5px 2px 0px #2227;
    }
    &-zahn {
        position: absolute;
        z-index: 1;
        width: 8px;
        height: 60px;
        top: -10%;
        left: 50%;
        background-color: var(--sec-c);
        box-shadow: inset 0.5px 2px 0px #2227;
        &--1 {
            transform: translate(-50%);
        }
        &--2 {
            top: -1px;
            left: 21px;
            transform: rotate(90deg) translate(-50%);
        }
        &--3 {
            top: -1px;
            left: 25px;
            transform: rotate(45deg) translate(-50%);
        }
        &--4 {
            top: -3px;
            left: 20px;
            transform: rotate(135deg) translate(-50%);
        }
    }
}
@keyframes spin {
    from {transform: rotate(0deg) ; }
    to {transform: rotate(360deg) ;}
}
