* {
    --toaster-width: 65px;
    --toaster-height: 40px;
    --toast-width: 25px;
    --toast-height: 25px;
}

.wetter-wrapper {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    right: 10px;
    height:80px;
    width: 200px;
    background-color: #554da0;
    box-shadow: inset -6px -6px 0 0 rgba(17, 17, 17, 0.0666666667), 5px 5px 0 0 black;
    z-index: 100;
    transform: scale(0.65);
    border-radius: 10px;
    .wetter-header {
        margin: 0 auto;
        height: 60%;
        align-items: center;
        gap: 5px;
        p {
            font-size: 16px;
            font-weight: bold;
            width: fit-content;
            color: white;
            flex: 0 1 auto;
            margin: 0;
            text-indent: 10px;
        }
    }
    .wetter-details {
        margin: 0 auto;
        gap: 5px;
        height: 40%;
        align-items: center;
        p {
            font-size: 10px;
            width: fit-content;
            color: white;
            flex: 0 1 auto;
            margin: 0;
            text-indent: 10px;
        }
        .country {
            font-size: 15px;
            font-weight: bold;
            padding: 0px;
            color: white;
            text-align: center;
            width: 25px;
            height: 20px;
            background-color: #1bcaa1;
            flex: 0 1 auto;
        }
    }

}
.wetter-description {
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}
.wetter-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.wetter-temperatur {
    display: flex;
    gap: 2px;
    flex: 1 1 auto;
    height: 50%;
    width: 50px;
    align-items: center;
    justify-content: center;
}
.wetter-min, .wetter-max {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: white;
    box-shadow: inset -2px -2px 0 0 #1118;
    margin-bottom: 2px;
}
.wetter-min {
    background-color: #65c9f0;
}
.wetter-max {
    background-color: #ff3131;
}



.kein-wetter {
    color: white;
    text-align: center;
    p {
    }
    h1 {
        font-weight: bold;
    }
}


.buchstabe::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;

}
.buchstabe::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 85px;

}


.bg-clear {
    background-image: url("../img/wetter/Clear.png");
    background-size: cover;
}
.bg-clouds {
    background-image: url("../img/wetter/Clouds.png");
    background-size: cover;
}
.bg-drizzle {
    background-image: url("../img/wetter/Drizzle.png");
    background-size: cover;
}
.bg-rain {
    background-image: url("../img/wetter/Rain.png");
    background-size: cover;
}
.bg-thunderstorm {
    background-image: url("../img/wetter/Thunderstorm.png");
    background-size: cover;
}
.bg-snow {
    background-image: url("../img/wetter/Snow.png");
    background-size: cover;
}

@media only screen and (min-width: 375px) {
    .wetter-wrapper {
        transform: scale(0.6);
    }
}
@media only screen and (min-width: 425px) {
    .wetter-wrapper {
        transform: scale(0.75);
        right: 25px;
    }
}
@media only screen and (min-width: 600px) {
    .wetter-wrapper {
        transform: scale(0.85);
        right: 25px;
    }
}