* {
    --toaster-width: 65px;
    --toaster-height: 40px;
    --toast-width: 25px;
    --toast-height: 25px;
}
.wetter-wrapper {
    position: absolute;
    top: 20px;
    right: 60px;
    height: 65px;
    width: fit-content;
    background-color: #554da0;
    box-shadow: inset -10px -10px 0 0 #1111, 5px 5px 0 0 black;
    padding: 10px; 
    z-index: 100;
}
.wetter-card {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    .wetter-title {
        display: flex;
        width: fit-content;
        height: 26px;
        gap: 10px;
        flex-grow: 1;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin: 0;
        
    }
    .country {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding: 0 2px;
        color: white;
        width: fit-content;
        height: fit-content;
        background-color: #1bcaa1;
    }
    .day {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 8px;
        color: white;
        padding-left: 1px;
        padding-top: 3px;
    }
}
.wetter-description {
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}
.wetter-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.wetter-temperatur {
    display: flex;
    gap: 10px;
}
.wetter-min, .wetter-max {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: white;
    box-shadow: inset -2px -2px 0 0 #1118;
    margin-bottom: 2px;
}
.wetter-min {
    background-color: #65c9f0;
}
.wetter-max {
    background-color: #ff3131;
}



.kein-wetter {
    color: white;
    text-align: center;
    p {
    }
    h1 {
        font-weight: bold;
    }
}

.bg-clear {
    background-image: url("../img/wetter/Clear.png");
    background-size: cover;
}
.bg-clouds {
    background-image: url("../img/wetter/Clouds.png");
    background-size: cover;
}
.bg-drizzle {
    background-image: url("../img/wetter/Drizzle.png");
    background-size: cover;
}
.bg-rain {
    background-image: url("../img/wetter/Rain.png");
    background-size: cover;
}
.bg-thunderstorm {
    background-image: url("../img/wetter/Thunderstorm.png");
    background-size: cover;
}
.bg-snow {
    background-image: url("../img/wetter/Snow.png");
    background-size: cover;
}

.toaster-wrapper {
    position: relative;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    background-color: #ffb031;
    transform: scale(0.5);
}
.toaster {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 80px;
    background-color: #65c9f0;
    border-radius: 25px 25px 0 0;
    box-shadow: inset -30px 0px 0 #1113;
    outline: white 1px solid;
}
.toaster::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 8%;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 0 15px 0 #333, 0 30px 0 2px #3482a0, 0 30px 0 4px #fff;
}
.toaster::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -4px;
    width: calc(100% + 6px);
    height: 5%;
    border-radius: 10px;
    background-color: #333;
    box-shadow: inset -30px 0px 0 #111;
}
.toaster .shine {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 15%;
    height: 20%;
    background-color: #fff9;
    border-radius: 50% 22% 57% 50% / 50% 31% 60% 43%;
}
.toaster .foot {
    position: absolute;
    top: 100%;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #333;
    box-shadow: 19px 0 0 #333, 80px 0 0 #333, 105px 0 0 #333, ;
}
.slot {
    position: absolute;
    top: 35%;
    left: 85%;
    width: 7px;
    height: 35px;
    border-radius: 5px;
    background-color: #111;
    box-shadow: inset -2px -2px 0 #444;
}
@keyframes slot {
    50% {
        transform: translateY(15px);
    }
    80% {
        transform: translateY(-10px);
    }
}
.slot::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 10px;
    width: 17px;
    height: 7px;
    border-radius: 5px;
    background-color: #444;
    box-shadow: inset -4px 0px 0 #111, -10px 0 0 -2px white, -10px 0 0 -2px white;
    animation: slot 2s infinite;
}
.bimbo {
    z-index: 2;
    position: absolute;
    bottom: 53%;
    left: 37%;
    width: 50px;
    height: 50px;
    background-color: wheat;
    border-radius: 0 0 10px 10px;
    border: solid burlywood 5px;
    border-width: 0px 4px 4px 4px;
    animation: toast-front 2s infinite;
}
.bimbo:last-child {
    bottom: 49%;
    left: 45%;
    z-index: 1;
    animation: toast-back 2s infinite;
}
@keyframes toast-back {
    50% {
        transform: translateY(15px);
    }
    80% {
        transform: translateY(-20px);
    }
}
@keyframes toast-front {
    50% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(-27px);
    }
}
.bimbo::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 25px 25px 50px 50px / 25px 25px 50px 50px;    
    background-color: wheat;
    border: solid burlywood 4px;
    border-width: 4px 4px 0px 4px;
}
.bimbo::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    top: 50%;
    left: 20%;
    border-radius: 100%;
    background-color: rgb(75, 58, 37, 0.7);
    box-shadow: 
    10px -8px 0 0 rgb(75, 58, 37, 0.7), 
    20px 10px 0 0 rgb(75, 58, 37, 0.7), 
    30px -15px 0 0 rgb(75, 58, 37, 0.7);
    z-index: 5;
}


.buchstabe::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;

}
.buchstabe::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 85px;

}

